body{
    background-image: linear-gradient(burlywood,rgb(77, 61, 41));
    width:auto;
    height:auto;
    font-family: Arial, sans-serif;
    font-weight:bold
}
.contenedor-friki {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}
.contenedor-imagen {
    text-align: center; 
}        
.contenedor-friki img {
    width: 100%;
    height: auto;
    display: block;
}
.contenedor-del-usuario {
    position: absolute;
    top: 10px;
    right: 10px;
}

.chiquito {
    padding: 5px 10px;
    font-size: 12px;
    color: white;
}
